<div class="contect">
    <div class="section">
        <div class="contenidoInfo">
            <ion-icon name="person-circle-outline" style="width: 200px; height: 200px;"></ion-icon>
            <div class="info">
                <div>
                    <div><strong>Nombre:</strong> {{empleado.prim_nom}} {{empleado.segun_nom}} {{empleado.apell_pa}} {{empleado.apell_ma}}</div>
                    <div><strong>Correo:</strong> {{empleado.email}}</div>
                    <div><strong>Puesto:</strong> {{empleado.pust}}</div>
                    <div><strong>Direccion:</strong> {{empleado.codigo}} {{empleado.nun_ex}} {{empleado.nun_in}} {{empleado.calle}}</div>
                    <div><strong>Telefono:</strong> {{empleado.telefono}}</div>
                    <div><strong>Fecha de ingreso:</strong> {{empleado.fecha_ing}}</div>
                    <div><strong>Salario semanal</strong> {{empleado.salario}}</div>
                    <div><strong>Estado actual</strong> {{empleado.estado}}</div>
                </div>
                <div><button class="btn-baja">Renuncia o baja</button></div>
            </div>
        </div>
    </div>
</div>