<div class="contect" style="padding-top: 3rem;">
    <div class="oh-flex oh-center">
        <div class="oh-flex oh-center oh-d-6 homeDiv" >
            <span class="titleHome">Encuentra</span>
            <span class="titleHome">tu casa ideal</span>
            <span id="textHome">En Lead Inmobiliaria te ayudamos a encontrar tu casa ideal, asesoramiento en tu compra y solicitud de crédito</span>
            <div class="oh-flex oh-center" style="margin-bottom: 2rem; margin-top: 1rem;">
                <a href="/Inventario" style="background-color: white; padding: 0.5rem 1rem; border-radius: 20px; font-size: 18px; text-decoration: none;">Catálogo</a>
            </div>
        </div>
        <div class="oh-flex oh-center oh-d-14" style="position: absolute;
        z-index: 0;
        margin-left: 25%;">
            <img class="imgHome" src="../img/photo-1586982599726-11708daaceca.avif" alt="">
        </div>
    </div>
</div>