<div class="contect">
    <div>
        <div>
            <h1>Bienvenid@</h1>
            <span>{{nombre}} {{apellido_pa}} {{apellido_ma}}</span>
        </div>
        <div>
            
        </div>
    </div>
</div>