*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Tangerine';
    src: local('Tangerine'), url(./fonts/Tangerine-Regular.ttf) format('truetype');
  }
@font-face {
font-family: 'Sacramento';
src: local('Tangerine'), url(./fonts/Sacramento-Regular.ttf) format('truetype');
}
body, main{
    margin: 0;
    background-color: #fbfaf5 !important;
}
nav{
    min-height: 100px;
    background-color: #e7efe0;
}
.container-fluid{
    margin: auto;
}
input{
    width: 270px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 13px;
    margin: 15px 10px;
}
textarea{
    width: 270px;
    height: 200px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 13px;
    margin: 15px 10px;
}
select{
    width: 270px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 13px;
    margin: 15px 10px;
}
h1{
    margin: auto;
    color: #616e52;
}
.ctrl{
    position: relative;
    margin: auto;
    margin-top: 35px;
}
.label-ctrl{
    color: #b9ce46;
    position: absolute;
    top: -24px; 
    left: 3px;
}
.invalid{
    box-shadow: 0px 0px 6px rgb(231 5 5);
}
.valid{
    box-shadow: 0px 0px 6px rgb(5 231 85);
}
.btn-{
    border-radius: 10px;
    font-size: 20px;
    background-color: #e7efe0;
    color: #616e52;
    width: 200px;
    height: 60px;
    margin: auto;
    transition: all 1s;
}
.btn-form{
    border-radius: 10px;
    font-size: 20px;
    background-color: #e7efe0;
    color: #616e52;
    width: 200px;
    height: 60px;
    margin: auto;
    transition: all 1s;
}

.btn-:hover{
    background-color: #c4d3b6;
}

.btn-span{
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px 5px;
    cursor: pointer;
    transition: all .6s ease-in-out;
}
.btn-span:hover{
    color: #fff;
    background-color: #c4d3b6;
}
a{
    color: #19270d !important;
}
.card{
    width: 350px;
    height: 290px;
}
.card p{
    padding: 15px;
}
.btn{
    margin: 10px 20px !important
}
.btn-guardar{
    font-size: 20px;
    background-color: #e7efe0;
    color: #b9ce46;
}
.btn-guardar:hover{
    background-color: #c4d3b6;
}
.btn-block{
    width: 89% !important;
}
.margin{
    margin: auto;
}
.margin-t-4{
    margin-top: 4%;
}
.btn-style{
    text-align: left;
    height: 69px;
    font-family: serif;
    background-color: #e7efe0;
    color: #b9ce46;
    padding: 5px 10px;
    transition: all .5s;
    width: 100%;
    font-size: 22px;
    transition: all .5s;
}

.wh10{
    width: 10px;
    height: 10px;
}
.wh20{
    width: 20px;
    height: 20px;
}
.wh50{
    width: 50px;
    height: 50px;
}
.wh70{
    width: 70px;
    height: 70px;
}
.wh100{
    width: 100px;
    height: 100px;
}
.wh120{
    width: 120px;
    height: 120px;
}
.wh150{
    width: 150px;
    height: 150px;
}
.wh180{
    width: 180px;
    height: 180px;
}
.wh200{
    width: 200px;
    height: 200px;
}
.w10{
    width: 10px;
}
.w30{
    width: 30px;
}
.w50{
    width: 50px;
}
.w100{
    width: 100px;
}
.w200{
    width: 200px;
}
.w250{
    width: 250px;
}
.w300{
    width: 300px;
}
.w400{
    width: 400px;
}
.w450{
    width: 450px;
}
.w500{
    width: 500px;
}
.w550{
    width: 550px;
}
.w600{
    width: 600px;
}
.w700{
    width: 700px;
}
.h10{
    height: 10px;
}
.h30{
    height: 30px;
}
.h50{
    height: 50px;
}
.h100{
    height: 100px;
}
.h200{
    height: 200px;
}
.h250{
    height: 250px;
}
.h300{
    height: 300px;
}
.h400{
    height: 400px;
}
.h450{
    height: 450px;
}
.h500{
    height: 500px;
}
.h550{
    height: 550px;
}
.h600{
    height: 600px;
}
.h700{
    height: 700px;
}
.oh-35{
    width: 35% !important;
}
.oh-25{
    width: 25% !important;
}
.oh-100{
    width: 100% !important;
}
.fichas:hover{
    /* margin-top: 10px; */
    color: #354c22 !important;
}
.fichaLabel{
    font-size: 1rem;
    color: #19270d;
}
.fichaP{
    font-size: .999rem;
    color: #19270d;
}
.flex-oh{
    display: flex;
}
.container-fluid{
    width: 35% !important;
}
#clientes{
    width: 23% !important;
    padding: 0;
}
#navbarNavAltMarkup{
    margin-left: 44px;
}
.nav-link{
    margin: auto;
}
.nav-item{
    margin: auto;
}
.svginv{
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
}
.edit{
    margin: 90%;
}

.conteCarrousel{
    height: 500px;
    overflow: hidden;
    background-color: #e7efe0;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.carrousel {
    padding-bottom: 2rem;
    padding-top: 4rem;
    background-color: #e7efe0;
    max-width: 120em;
    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    overflow: hidden;
  }
  
  .carrousel .grande {
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    transition: all 0.5s ease;
    transform: translateX(0%);
  }
  
  .carrousel .imgCarr {
    object-fit: cover;
    color: var(--negro);
    transition: all 0.4s ease;
    background-color: var(--blanco);
    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  }
  
  .carrousel .puntos {
    width: 100%;
    margin: 1em 0 0;
    padding: 0.4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .carrousel .punto {
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    color: var(--negro);
    cursor: pointer;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  }
  
  .carrousel .punto .activoCarr {
    background-color: lightblue;
  }

  .expand-svg{
    cursor: pointer;
    top: 92%;
    position: absolute;
    left: 23%;
    color: white;
    background-color: rgba(255, 255, 255, 0.6);
    filter: blur(0.8);
    padding: 6px;
    border-radius: 5px;
  }

  .expand100{
    width: 100%;
  }
  
  .carru500px{
    width: 500px;
  }

  .carrousel100{
    width: 100%;
  }

  .imgscarrou{
    min-width: 500px;
    min-height: 710px;
    max-width: 500px;
    max-height: 710px;
  }

  /* .imgsexpand{
    min-width: 1200px;
    min-height: 710px;
    max-width: 1200px;
    max-height: 710px;
  } */

  .nodisplay{
    display: none !important;
  }

  .sidisplay{
    display: flex;
  }

  .svgexp{
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
  }

#flecha1{
    left: 7%; 
    top: 67%;
}

#flecha2{
    left: 44.5%; 
    top: 67%;
}
#flecha1User{
    left: 7%; 
    top: 67%;
}

#flecha2User{
    left: 44.5%; 
    top: 67%;
}

footer{
    background-color: #19270d;
    color: #b9ce46;
    min-height: 200px;
    display: flex !important;
}
.ubicacion{
    width: 600px;
}
/* Estilos generales para todos los dispositivos */
.logoinicio{
    width: 50%;
}
/* Estilos para móviles */
@media only screen and (max-width: 450px) {
    /* Agrega estilos específicos para pantallas de hasta 450px de ancho */
    #navbarNavAltMarkup {
        margin-left: -5px;
    }
    .carru500px {
        width: 340px;
    }
    .imgscarrou {
        min-width: 340px;
        min-height: 300px;
        max-width: 500px;
        max-height: 710px;
    }
    #flecha2 {
        left: 80%;
        top: 38%;
    }
    #flecha1 {
        top: 38%;
    }
    #flecha2User {
        left: 80%;
        top: 58%;
    }
    #flecha1User {
        top: 58%;
    }
    .navbar-toggler{
        margin-left: 10rem !important;
    }
    main{
        margin: 0 !important;
    }
    .contect {
        width: 50% !important;
    }
    .section{
        width: 40% !important;
    }
    .ubicacion{
        width: 350px;
    }
    footer{
        display: block !important;
    }
    .logoinicio{
        width: 100%;
        margin-left: 6rem;
    }
    .btn- {
        border-radius: 10px;
        font-size: 18px;
        background-color: #e7efe0;
        color: #616e52;
        width: 140px;
        height: 60px;
        margin: auto;
        transition: all 1s;
    }
}

@media only screen and (max-width: 600px) {
    /* Agrega estilos específicos para pantallas de hasta 600px de ancho */
}

/* Estilos para tabletas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
/* Agrega estilos específicos para pantallas de 601px a 1024px de ancho (tabletas) */
}

/* Estilos para laptops y pantallas más grandes */
@media only screen and (min-width: 1025px) {
/* Agrega estilos específicos para pantallas de 1025px en adelante (laptops y pantallas más grandes) */
}
  