*{
    margin: 0;
    padding: 0;
}
nav, body, main{
    margin: 0;
    background-color: #354c22 !important;
}
input{
    width: 270px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 13px;
    margin: 15px 10px;
}
textarea{
    width: 270px;
    height: 200px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 13px;
    margin: 15px 10px;
}
select{
    width: 270px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 13px;
    margin: 15px 10px;
}
h1{
    margin: auto;
    color: #b9ce46;
}
.ctrl{
    position: relative;
    margin: auto;
    margin-top: 35px;
}
.label-ctrl{
    color: #b9ce46;
    position: absolute;
    background: #354c22;
    top: -24px; 
    left: 3px;
}
.invalid{
    box-shadow: 0px 0px 6px rgb(231 5 5);
}
.valid{
    box-shadow: 0px 0px 6px rgb(5 231 85);
}
.btn-{
    border-radius: 10px;
    font-size: 20px;
    background-color: transparent;
    color: #b9ce46;
    width: 200px;
    height: 60px;
    margin: auto;
    margin-top: 20px;
    transition: all 1s;
}

.btn-:hover{
    background-color: rgba(255, 255, 255, .1);
}

.btn-span{
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px 5px;
    cursor: pointer;
    transition: all .6s ease-in-out;
}
.btn-span:hover{
    color: #fff;
    background-color: #000;
}
a{
    color: #b9ce46 !important;
}
.card{
    width: 350px;
    height: 290px;
}
.card p{
    padding: 15px;
}
.btn{
    margin: 10px 20px !important
}
.btn-guardar{
    font-size: 20px;
    background-color: transparent;
    color: #b9ce46;
}
.btn-guardar:hover{
    background-color: darkolivegreen;
}
.btn-block{
    width: 89% !important;
}
.margin{
    margin: auto;
}
.margin-t-4{
    margin-top: 4%;
}
.btn-style{
    text-align: left;
    height: 69px;
    font-family: serif;
    background-color: #354c22;
    color: #b9ce46;
    padding: 5px 10px;
    transition: all .5s;
    width: 100%;
    font-size: 22px;
    transition: all .5s;
}

.wh10{
    width: 10px;
    height: 10px;
}
.wh20{
    width: 20px;
    height: 20px;
}
.wh50{
    width: 50px;
    height: 50px;
}
.wh70{
    width: 70px;
    height: 70px;
}
.wh100{
    width: 100px;
    height: 100px;
}
.wh120{
    width: 120px;
    height: 120px;
}
.wh150{
    width: 150px;
    height: 150px;
}
.wh180{
    width: 180px;
    height: 180px;
}
.wh200{
    width: 200px;
    height: 200px;
}
.w10{
    width: 10px;
}
.w30{
    width: 30px;
}
.w50{
    width: 50px;
}
.w100{
    width: 100px;
}
.w200{
    width: 200px;
}
.w250{
    width: 250px;
}
.w300{
    width: 300px;
}
.w400{
    width: 400px;
}
.w450{
    width: 450px;
}
.w500{
    width: 500px;
}
.w550{
    width: 550px;
}
.w600{
    width: 600px;
}
.w700{
    width: 700px;
}
.h10{
    height: 10px;
}
.h30{
    height: 30px;
}
.h50{
    height: 50px;
}
.h100{
    height: 100px;
}
.h200{
    height: 200px;
}
.h250{
    height: 250px;
}
.h300{
    height: 300px;
}
.h400{
    height: 400px;
}
.h450{
    height: 450px;
}
.h500{
    height: 500px;
}
.h550{
    height: 550px;
}
.h600{
    height: 600px;
}
.h700{
    height: 700px;
}
.oh-35{
    width: 35% !important;
}
.oh-25{
    width: 25% !important;
}
.oh-100{
    width: 100% !important;
}
.fichas:hover{
    margin-top: 10px;
    color: #354c22 !important;
}