.oh-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.oh-end{
    justify-content: end;
}

.nowrap {
    flex-wrap: nowrap;
}

.center-h {
    justify-content: center;
}

.separated {
    justify-content: space-between;
}

.distributed {
    justify-content: space-around;
}

.column {
    flex-direction: column;
    flex-wrap: nowrap;
}

.center {
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.oh-flex-nowrap {
    flex-wrap: nowrap !important;
}

.oh-flex-wrapper {
    flex-wrap: wrap !important;
}

.oh-flex,
.oh-flex-column {
    display: flex;
    width: 100%;
}

.oh-flex {
    flex-wrap: wrap;
}

.oh-flex-column {
    flex-direction: column;
}

.oh-flex-center {
    align-items: center;
    justify-content: center;
}

.oh-flex-center-v {
    align-items: center;
}

.oh-flex-up {
    align-items: flex-start;
}

.oh-flex-down {
    align-items: flex-end;
}

.oh-flex-around-v {
    align-items: space-around;
}

.oh-flex-between-v {
    align-items: space-between;
}

.oh-flex-center-h {
    justify-content: center;
}

.oh-flex-left {
    justify-content: flex-start;
}

.oh-flex-right {
    justify-content: flex-end;
}

.oh-flex-around {
    justify-content: space-around;
}

.oh-flex-between {
    justify-content: space-between;
}

.oh-5 {
    width: 5%;
}

.oh-10 {
    width: 10%;
}

.oh-15 {
    width: 15%;
}

.oh-20 {
    width: 20%;
}

.oh-25 {
    width: 25%;
}

.oh-30 {
    width: 30%;
}

.oh-35 {
    width: 35%;
}

.oh-40 {
    width: 40%;
}

.oh-45 {
    width: 45%;
}

.oh-50 {
    width: 50%;
}

.oh-55 {
    width: 55%;
}

.oh-60 {
    width: 60%;
}

.oh-65 {
    width: 65%;
}

.oh-70 {
    width: 70%;
}

.oh-75 {
    width: 75%;
}

.oh-80 {
    width: 80%;
}

.oh-85 {
    width: 85%;
}

.oh-90 {
    width: 90%;
}

.oh-95 {
    width: 95%;
}

.oh-100 {
    width: 100%;
}

.oh-flex-inline {
    display: inline-flex;
}

.oh-center {
    align-items: center;
    justify-content: center;
}

.oh-center-v {
    align-items: center;
}

.oh-center-h {
    justify-content: center;
}

.oh-up {
    align-items: flex-start;
}

.oh-left {
    justify-content: flex-start;
}

.oh-down {
    align-items: flex-end;
}

.oh-right {
    justify-content: flex-end;
}

.oh-separated {
    justify-content: space-between;
}

.oh-distributed {
    justify-content: space-around;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

@media screen and (min-width: 12.5rem) {
    .oh-m-1 {
        width: 5%;
    }
    .oh-m-2 {
        width: 10%;
    }
    .oh-m-3 {
        width: 15%;
    }
    .oh-m-4 {
        width: 20%;
    }
    .oh-m-5 {
        width: 25%;
    }
    .oh-m-6 {
        width: 30%;
    }
    .oh-m-7 {
        width: 35%;
    }
    .oh-m-8 {
        width: 40%;
    }
    .oh-m-9 {
        width: 45%;
    }
    .oh-m-10 {
        width: 50%;
    }
    .oh-m-11 {
        width: 55%;
    }
    .oh-m-12 {
        width: 60%;
    }
    .oh-m-13 {
        width: 65%;
    }
    .oh-m-14 {
        width: 70%;
    }
    .oh-m-15 {
        width: 75%;
    }
    .oh-m-16 {
        width: 80%;
    }
    .oh-m-17 {
        width: 85%;
    }
    .oh-m-18 {
        width: 90%;
    }
    .oh-m-19 {
        width: 95%;
    }
    .oh-m-20 {
        width: 100%;
    }
    .oh-hidden-m {
        display: none;
    }
    .oh-center-m {
        align-items: center;
        justify-content: center;
    }
    .oh-center-v-m {
        align-items: center;
    }
    .oh-center-h-m {
        justify-content: center;
    }
    .oh-up-m {
        align-content: flex-start;
        align-items: flex-start;
    }
    .oh-left-m {
        justify-content: flex-start;
    }
    .oh-down-m {
        align-items: flex-end;
    }
    .oh-right-m {
        justify-content: flex-end;
    }
    .oh-separated-m {
        justify-content: space-between;
    }
    .oh-distributed-m {
        justify-content: space-around;
    }
    .order-m-1 {
        order: 1;
    }
    .order-m-2 {
        order: 2;
    }
    .order-m-3 {
        order: 3;
    }
    .order-m-4 {
        order: 4;
    }
    .order-m-5 {
        order: 5;
    }
    .order-m-6 {
        order: 6;
    }
    .order-m-7 {
        order: 7;
    }
    .order-m-8 {
        order: 8;
    }
    .order-m-9 {
        order: 9;
    }
    .order-m-10 {
        order: 10;
    }
}

@media screen and (min-width: 45rem) {
    .oh-t-1 {
        width: 5%;
    }
    .oh-t-2 {
        width: 10%;
    }
    .oh-t-3 {
        width: 15%;
    }
    .oh-t-4 {
        width: 20%;
    }
    .oh-t-5 {
        width: 25%;
    }
    .oh-t-6 {
        width: 30%;
    }
    .oh-t-7 {
        width: 35%;
    }
    .oh-t-8 {
        width: 40%;
    }
    .oh-t-9 {
        width: 45%;
    }
    .oh-t-10 {
        width: 50%;
    }
    .oh-t-11 {
        width: 55%;
    }
    .oh-t-12 {
        width: 60%;
    }
    .oh-t-13 {
        width: 65%;
    }
    .oh-t-14 {
        width: 70%;
    }
    .oh-t-15 {
        width: 75%;
    }
    .oh-t-16 {
        width: 80%;
    }
    .oh-t-17 {
        width: 85%;
    }
    .oh-t-18 {
        width: 90%;
    }
    .oh-t-19 {
        width: 95%;
    }
    .oh-t-20 {
        width: 100%;
    }
    .oh-hidden-t {
        display: none;
    }
    .oh-center-t {
        align-items: center;
        justify-content: center;
    }
    .oh-center-v-t {
        align-items: center;
    }
    .oh-center-h-t {
        justify-content: center;
    }
    .oh-up-t {
        align-content: flex-start;
        align-items: flex-start;
    }
    .oh-left-t {
        justify-content: flex-start;
    }
    .oh-down-t {
        align-items: flex-end;
    }
    .oh-right-t {
        justify-content: flex-end;
    }
    .oh-separated-t {
        justify-content: space-between;
    }
    .oh-distributed-t {
        justify-content: space-around;
    }
    .order-t-1 {
        order: 1;
    }
    .order-t-2 {
        order: 2;
    }
    .order-t-3 {
        order: 3;
    }
    .order-t-4 {
        order: 4;
    }
    .order-t-5 {
        order: 5;
    }
    .order-t-6 {
        order: 6;
    }
    .order-t-7 {
        order: 7;
    }
    .order-t-8 {
        order: 8;
    }
    .order-t-9 {
        order: 9;
    }
    .order-t-10 {
        order: 10;
    }
}

@media screen and (min-width: 60rem) {
    .oh-tb-1 {
        width: 5%;
    }
    .oh-tb-2 {
        width: 10%;
    }
    .oh-tb-3 {
        width: 15%;
    }
    .oh-tb-4 {
        width: 20%;
    }
    .oh-tb-5 {
        width: 25%;
    }
    .oh-tb-6 {
        width: 30%;
    }
    .oh-tb-7 {
        width: 35%;
    }
    .oh-tb-8 {
        width: 40%;
    }
    .oh-tb-9 {
        width: 45%;
    }
    .oh-tb-10 {
        width: 50%;
    }
    .oh-tb-11 {
        width: 55%;
    }
    .oh-tb-12 {
        width: 60%;
    }
    .oh-tb-13 {
        width: 65%;
    }
    .oh-tb-14 {
        width: 70%;
    }
    .oh-tb-15 {
        width: 75%;
    }
    .oh-tb-16 {
        width: 80%;
    }
    .oh-tb-17 {
        width: 85%;
    }
    .oh-tb-18 {
        width: 90%;
    }
    .oh-tb-19 {
        width: 95%;
    }
    .oh-tb-20 {
        width: 100%;
    }
    .oh-hidden-tb {
        display: none;
    }
    .oh-center-tb {
        align-items: center;
        justify-content: center;
    }
    .oh-center-v-tb {
        align-items: center;
    }
    .oh-center-h-tb {
        justify-content: center;
    }
    .oh-up-tb {
        align-content: flex-start;
        align-items: flex-start;
    }
    .oh-left-tb {
        justify-content: flex-start;
    }
    .oh-down-tb {
        align-items: flex-end;
    }
    .oh-right-tb {
        justify-content: flex-end;
    }
    .oh-separated-tb {
        justify-content: space-between;
    }
    .oh-distributed-tb {
        justify-content: space-around;
    }
    .order-tb-1 {
        order: 1;
    }
    .order-tb-2 {
        order: 2;
    }
    .order-tb-3 {
        order: 3;
    }
    .order-tb-4 {
        order: 4;
    }
    .order-tb-5 {
        order: 5;
    }
    .order-tb-6 {
        order: 6;
    }
    .order-tb-7 {
        order: 7;
    }
    .order-tb-8 {
        order: 8;
    }
    .order-tb-9 {
        order: 9;
    }
    .order-tb-10 {
        order: 10;
    }
}

@media screen and (min-width: 70rem) {
    .oh-d-1 {
        width: 5%;
    }
    .oh-d-2 {
        width: 10%;
    }
    .oh-d-3 {
        width: 15%;
    }
    .oh-d-4 {
        width: 20%;
    }
    .oh-d-5 {
        width: 25%;
    }
    .oh-d-6 {
        width: 30%;
    }
    .oh-d-7 {
        width: 35%;
    }
    .oh-d-8 {
        width: 40%;
    }
    .oh-d-9 {
        width: 45%;
    }
    .oh-d-10 {
        width: 50%;
    }
    .oh-d-11 {
        width: 55%;
    }
    .oh-d-12 {
        width: 60%;
    }
    .oh-d-13 {
        width: 65%;
    }
    .oh-d-14 {
        width: 70%;
    }
    .oh-d-15 {
        width: 75%;
    }
    .oh-d-16 {
        width: 80%;
    }
    .oh-d-17 {
        width: 85%;
    }
    .oh-d-18 {
        width: 90%;
    }
    .oh-d-19 {
        width: 95%;
    }
    .oh-d-20 {
        width: 100%;
    }
    .oh-hidden-d {
        display: none;
    }
    .oh-center-d {
        align-items: center;
        justify-content: center;
    }
    .oh-center-v-d {
        align-items: center;
    }
    .oh-center-h-d {
        justify-content: center;
    }
    .oh-up-d {
        align-content: flex-start;
        align-items: flex-start;
    }
    .oh-left-d {
        justify-content: flex-start;
    }
    .oh-down-d {
        align-items: flex-end;
    }
    .oh-right-d {
        justify-content: flex-end;
    }
    .oh-separated-d {
        justify-content: space-between;
    }
    .oh-distributed-d {
        justify-content: space-around;
    }
    .order-d-1 {
        order: 1;
    }
    .order-d-2 {
        order: 2;
    }
    .order-d-3 {
        order: 3;
    }
    .order-d-4 {
        order: 4;
    }
    .order-d-5 {
        order: 5;
    }
    .order-d-6 {
        order: 6;
    }
    .order-d-7 {
        order: 7;
    }
    .order-d-8 {
        order: 8;
    }
    .order-d-9 {
        order: 9;
    }
    .order-d-10 {
        order: 10;
    }
}

@media screen and (min-width: 81.25rem) {
    .oh-w-1 {
        width: 5%;
    }
    .oh-w-2 {
        width: 10%;
    }
    .oh-w-3 {
        width: 15%;
    }
    .oh-w-4 {
        width: 20%;
    }
    .oh-w-5 {
        width: 25%;
    }
    .oh-w-6 {
        width: 30%;
    }
    .oh-w-7 {
        width: 35%;
    }
    .oh-w-8 {
        width: 40%;
    }
    .oh-w-9 {
        width: 45%;
    }
    .oh-w-10 {
        width: 50%;
    }
    .oh-w-11 {
        width: 55%;
    }
    .oh-w-12 {
        width: 60%;
    }
    .oh-w-13 {
        width: 65%;
    }
    .oh-w-14 {
        width: 70%;
    }
    .oh-w-15 {
        width: 75%;
    }
    .oh-w-16 {
        width: 80%;
    }
    .oh-w-17 {
        width: 85%;
    }
    .oh-w-18 {
        width: 90%;
    }
    .oh-w-19 {
        width: 95%;
    }
    .oh-w-20 {
        width: 100%;
    }
    .oh-hidden-w {
        display: none;
    }
    .oh-center-w {
        align-items: center;
        justify-content: center;
    }
    .oh-center-v-w {
        align-items: center;
    }
    .oh-center-h-w {
        justify-content: center;
    }
    .oh-up-w {
        align-content: flex-start;
        align-items: flex-start;
    }
    .oh-left-w {
        justify-content: flex-start;
    }
    .oh-down-w {
        align-items: flex-end;
    }
    .oh-right-w {
        justify-content: flex-end;
    }
    .oh-separated-w {
        justify-content: space-between;
    }
    .oh-distributed-w {
        justify-content: space-around;
    }
    .order-w-1 {
        order: 1;
    }
    .order-w-2 {
        order: 2;
    }
    .order-w-3 {
        order: 3;
    }
    .order-w-4 {
        order: 4;
    }
    .order-w-5 {
        order: 5;
    }
    .order-w-6 {
        order: 6;
    }
    .order-w-7 {
        order: 7;
    }
    .order-w-8 {
        order: 8;
    }
    .order-w-9 {
        order: 9;
    }
    .order-w-10 {
        order: 10;
    }
}

@media screen and (max-width: 15rem) {
    .oh-visible-grid-m {
        display: none;
    }
}

@media screen and (max-width: 30rem) {
    .oh-visible-grid-t {
        display: none;
    }
}

@media screen and (max-width: 48rem) {
    .oh-visible-grid-tb {
        display: none;
    }
}

@media screen and (max-width: 64rem) {
    .oh-visible-grid-d {
        display: none;
    }
}

@media screen and (max-width: 81.25rem) {
    .oh-visible-grid-w {
        display: none;
    }
}

.t\:center {
    display: block;
    text-align: center;
}

.t\:left {
    display: block;
    text-align: left;
}

.t\:right {
    display: block;
    text-align: right;
}

.t\:justify {
    display: block;
    text-align: justify;
}

.margin-v-05{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.margin-v-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}