.contect{
    width: 100%;
    height: 100%;
    margin: 10px;
    margin-top: 50px;
    text-align: center;
}
.contect-1{
    width: 100%;
    height: 100%;
    margin: 10px;
    margin-top: 50px;
    text-align: center;
}
.inv-maxh{
    max-height: 270px;
    min-height: 270px;
    max-width: 350px;
    min-width: 350px;
}
@media screen and (min-width: 1800px) {
    .inv-maxh {
        max-height: 380px;
        min-height: 380px;
        max-width: 500px;
        min-width: 500px;
    }
}
.sing{
    margin-top: 30px;
}
.margin-w-15{
    margin-left: 1rem;
    margin-right: 1rem;
}
@media screen and (min-width: 1800px) {
    .margin-w-15{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}
.section{
    display: flex;
    width:60%;
    margin: auto;
}
.registrar{
    margin-top: 60px;
}
.form{
    text-transform: capitalize;
    margin: 0px 20px;
}
.oh-30{
    width: 30%;
}
.oh-20{
    width: 20%;
}
.error{
    box-shadow: 0px 0px 6px rgb(231 5 5);
}
.error_let{
    display: block !important;
}
.setinfo{
    display: flex;
    width: 100%;
    background-color: azure !important;
}
.etiquetado{
    width: 30%;
    height: 40px;
    display: flex;
    text-align: center;
    border: solid 1px #000;
    text-transform: capitalize;
}
#verEmpleado{
    width: 50%;
    height: 80%;
    border: solid 1px #000;
    margin-left: 40px;
    margin-top: 3px;
    background-color: dodgerblue;
    color: black;
    cursor: pointer;
}
.estado{
    width: 60%;
    color: green;
}
.btn-contect{
    margin-left: 81%;
}
.btn-contect button{
    border-radius: 10px;
}
.contenidoInfo{
    position: relative;
    width: 70%;
    height: 600px;
    background-color: rgba(165, 177, 131, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.8);
    margin: auto;
}
.info{
    height: 65%;
    text-align: left;
    text-transform: capitalize;
    font-size: 18px;
}
.btn-ren:hover{
    color: #fff;
    background-color: red;
}
.empleado-info{
    position: absolute;
    background-color: rgba(208, 238, 190, 0.8);
    height: 599px;
    width: 350px;
    left: 0;
    top: 1px;
    padding: 15px;
    border-radius: 0px 10px 10px 0px;
    display: none;
    transition: all .5s;
}
.viewInfo{
    display: block !important;
    left: 439px;
}
