<footer>
    <div class="w700">
        <h1>Contactanos</h1>
        <p><a href="https://www.facebook.com/paty.alejo.58" style="color: #b9ce46 !important; cursor: pointer;" target="_blank"><strong>Patricia Alejo</strong></a></p>
        <p><a href="https://www.facebook.com/chikis.giner" style="color: #b9ce46 !important; cursor: pointer;" target="_blank"><strong>Anahi Giner</strong></a></p>
        <p><a href="https://www.facebook.com/profile.php?id=100089780689682" style="color: #b9ce46 !important; cursor: pointer;" target="_blank"><strong>Griselda Robles</strong></a></p>
        <p><a href="https://www.facebook.com/irene.rodriguezrojo" style="color: #b9ce46 !important; cursor: pointer;" target="_blank"><strong>Irene Rodríguez</strong></a></p>
        <p><a href="https://www.facebook.com/ivonne.red" style="color: #b9ce46 !important; cursor: pointer;" target="_blank"><strong>Ivonne Rodríguez</strong></a></p>
        <p><a href="https://www.facebook.com/profile.php?id=100079582211186" style="color: #b9ce46 !important; cursor: pointer;" target="_blank"><strong>Rosa Acosta</strong></a></p>
        <p><a href="https://www.facebook.com/elizabeth.alvarado.7355" style="color: #b9ce46 !important; cursor: pointer;" target="_blank"><strong>Beatriz Alvarado</strong></a></p>
    </div>
    <div class="w500">
        <h1>Ubicación</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3394.18146783849!2d-106.41275282438079!3d31.710937574127342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzHCsDQyJzM5LjQiTiAxMDbCsDI0JzM2LjYiVw!5e0!3m2!1ses!2smx!4v1700700476815!5m2!1ses!2smx" class="ubicacion" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>    
</footer>