<div class="row">
    {{description}}
    {{#each notes}}
        <div class="coll-md-3">
            <div class="card" style="margin: 10px 20px;">
                <div class="card-body">
                    {{notes.title}}
                    <h4 class="card-title d-flex justify-content-between align-item-center">
                        {{title}} <a href="/notes/edit/{{_id}}"><ion-icon name="create-outline"></ion-icon></a>
                    </h4>
                </div>
                <p>{{description}}</p>
                <form action="/notes/delete/{{_id}}?_method=DELETE" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-block btn-sm">Eliminar</button>
                </form>
            </div>
        </div>
    {{/each}}
</div>

<script>
    let notas = `{{notes}}`;
</script>