<style>
    label{
        margin-bottom: 0rem;
    }
    .Estatus_Inventario{
        width: 100%;
        background-color: #ffb6b6;
        text-align: center;
    }
    .Estatus_Inventario_Vendida{
        width: 100%;
        background-color: #fe8989;
        text-align: center;
    }
    .Estatus_Inventario_venta{
        width: 100%;
        background-color: #b6ffb7;
        text-align: center;
    }
</style>
{{#if user}}
    {{#if (equals Inventario.Estatus "Apartada")}}
        <div class="Estatus_Inventario"><h4>{{Inventario.Estatus}}</h4></div>
    {{/if}}
    {{#if (equals Inventario.Estatus "Vendida")}}
        <div class="Estatus_Inventario_Vendida"><h4>{{Inventario.Estatus}}</h4></div>
    {{/if}}
    {{#if (equals Inventario.Estatus "En venta")}}
        <div class="Estatus_Inventario_venta"><h4>{{Inventario.Estatus}}</h4></div>
    {{/if}}
    
    <div class="oh-flex oh-end">
        <div style="margin: 10px;">
            <a href="/Inventario/edit/{{Inventario._id}}" class="fichas oh-flex oh-right"><button class="btn-">Editar Ficha</button></a>
        </div>
        <div style="margin: 10px;">
            <form action="/Inventario/Eliminar/{{Inventario._id}}?_method=DELETE" method="post"><button type="submit" class="btn-">Eliminar Ficha</button></form>
        </div>
    </div>
            
<div class="oh-flex oh-center wrapper" >
    <div class="oh-flex oh-center oh-d-20" style="align-items: flex-start; margin-top: 2rem;">
        <div class="oh-flex oh-center oh-d-10" id="Carrousel">
            <div class="carrousel carru500px" id="CarrFotos">
                <div class="grande">
                    {{#each Inventario.url}}
                        <img src="{{this}}" class="imgCarr imgscarrou" alt="imagen">
                    {{/each}}
                    
                </div>
                <span class="expand-svg sidisplay" id="flecha1User" onclick="previousImage()" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" viewBox="0 0 210 214" fill="none">
                        <g clip-path="url(#clip0_485_2)">
                        <path d="M210 107C210 78.6218 198.938 51.406 179.246 31.3396C159.555 11.2732 132.848 0 105 0C77.1523 0 50.4451 11.2732 30.7538 31.3396C11.0625 51.406 0 78.6218 0 107C0 135.378 11.0625 162.594 30.7538 182.66C50.4451 202.727 77.1523 214 105 214C132.848 214 159.555 202.727 179.246 182.66C198.938 162.594 210 135.378 210 107ZM94.7461 53.082C98.6016 49.1531 104.836 49.1531 108.65 53.082C112.465 57.0109 112.506 63.3641 108.65 67.2512L79.5293 96.9269L154.219 96.9688C159.674 96.9688 164.062 101.441 164.062 107C164.062 112.559 159.674 117.031 154.219 117.031H79.5293L108.65 146.707C112.506 150.636 112.506 156.989 108.65 160.876C104.795 164.763 98.5605 164.805 94.7461 160.876L48.8086 114.105C44.9531 110.177 44.9531 103.823 48.8086 99.9363L94.7461 53.082Z" fill="#99AAB5"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_485_2">
                        <rect width="210" height="214" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                </span>
                <span class="expand-svg sidisplay" id="flecha2User" onclick="nextImage()" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" viewBox="0 0 210 214" fill="none" style="transform: rotate(180deg)">
                        <g clip-path="url(#clip0_485_2)">
                        <path d="M210 107C210 78.6218 198.938 51.406 179.246 31.3396C159.555 11.2732 132.848 0 105 0C77.1523 0 50.4451 11.2732 30.7538 31.3396C11.0625 51.406 0 78.6218 0 107C0 135.378 11.0625 162.594 30.7538 182.66C50.4451 202.727 77.1523 214 105 214C132.848 214 159.555 202.727 179.246 182.66C198.938 162.594 210 135.378 210 107ZM94.7461 53.082C98.6016 49.1531 104.836 49.1531 108.65 53.082C112.465 57.0109 112.506 63.3641 108.65 67.2512L79.5293 96.9269L154.219 96.9688C159.674 96.9688 164.062 101.441 164.062 107C164.062 112.559 159.674 117.031 154.219 117.031H79.5293L108.65 146.707C112.506 150.636 112.506 156.989 108.65 160.876C104.795 164.763 98.5605 164.805 94.7461 160.876L48.8086 114.105C44.9531 110.177 44.9531 103.823 48.8086 99.9363L94.7461 53.082Z" fill="#99AAB5"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_485_2">
                        <rect width="210" height="214" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                </span>
            </div>
        </div>
        
        <!-- <div class="oh-flex oh-center oh-d-10">
            <img src="{{Inventario.url}}" alt="imagen" style="object-fit: cover; min-width: 500px; max-width: 500px; min-height: 500px; max-height: 500px;">
        </div> -->
        <div class="oh-flex oh-center oh-d-10" id="infoCasa">
            <h1 class="oh-flex oh-left" style="color: #606f51; font-size: 60px;">{{Inventario.Titulo}}</h1>
            <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                <div class="oh-d-20">
                    <img class="svginv" src="../img/tipodecredito.svg" alt="">
                    <label class="fichaLabel" style="color: #454841;"><strong>Tipo de credito: </strong></label>
                </div>
                <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Tipo_Credito}}</label>
            </div>
            <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                <div class="oh-d-20">
                    <img class="svginv" src="../img/tipodecredito.svg" alt="">
                    <label class="fichaLabel" style="color: #454841;"><strong>Tipo de tramite: </strong></label>
                </div>
                <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Tipo}}</label>
            </div>
            <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                <div class="oh-d-20">
                    <img class="svginv" src="../img/direccion.svg" alt="">
                    <label class="fichaLabel" style="color: #454841;"><strong>Dirección de la casa:</strong> </label>
                </div>
                <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Direccion}}</label>
            </div>
            <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                <div class="oh-d-20">
                    <img class="svginv" src="../img/descripcion.svg" alt="">
                    <label class="fichaLabel" style="color: #454841;"><strong>Descripcion de la casa: </strong></label>
                </div>
                <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Descripcion}}</label>
            </div>
            <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                <div class="oh-d-20">
                    <img class="svginv" src="../img/recamaras.svg" alt="">
                    <label class="fichaLabel" style="color: #454841;"><strong>Numero de recamaras: </strong></label>
                </div>
                <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.numDeRecamaras}}</label>
            </div>
            <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                <div class="oh-d-20">
                    <img class="svginv" src="../img/precio.svg" alt="">
                    <label class="fichaLabel" style="color: #454841;"><strong>Precio: </strong></label>
                </div>
                <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Presio}}</label>
            </div>
            <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                <div class="oh-d-20">
                    <img class="svginv" src="../img/metros.svg" alt="">
                    <label class="fichaLabel" style="color: #454841;"><strong>Metros Del Terreno: </strong></label>
                </div>
                <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.MtrTerreno}}</label>
            </div>
            <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                <div class="oh-d-20">
                    <img class="svginv" src="../img/metrosdeconstruccion.svg" alt="">
                    <label class="fichaLabel" style="color: #454841;"><strong>Metros De Construcción: </strong></label>
                </div>
                <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.MtsDeCostruccion}}</label>
            </div>
            <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                <div class="oh-d-20">
                    <img class="svginv" src="../img/tipodecredito.svg" alt="">
                    <label class="fichaLabel" style="color: #454841;"><strong>Avaluo: </strong></label>
                </div>
                <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Avaluo}}</label>
            </div>
            <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                <div class="oh-d-20">
                    <img class="svginv" src="../img/tipodecredito.svg" alt="">
                    <label class="fichaLabel" style="color: #454841;"><strong>Comisión: </strong></label>
                </div>
                <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Comision}}</label>
            </div>
        </div>
    </div>
    <!-- <a href="https://wa.me/+52{{Inventario.Contacto}}">Contactanos</a> -->
</div>
{{else}}
    {{#if (equals Inventario.Estatus "Apartada")}}
        <div class="Estatus_Inventario"><h4>{{Inventario.Estatus}}</h4></div>
    {{/if}}
    {{#if (equals Inventario.Estatus "Vendida")}}
        <div class="Estatus_Inventario_Vendida"><h4>{{Inventario.Estatus}}</h4></div>
    {{/if}}
    {{#if (equals Inventario.Estatus "En venta")}}
        <div class="Estatus_Inventario_venta"><h4>{{Inventario.Estatus}}</h4></div>
    {{/if}}
    <div class="oh-flex oh-center wrapper" >
        <div class="oh-flex oh-center oh-d-20" style="align-items: flex-start; margin-top: 2rem;">
            <div class="oh-flex oh-center oh-d-10" id="Carrousel">
                <div class="carrousel carru500px" id="CarrFotos">
                    <div class="grande">
                        {{#each Inventario.url}}
                            <img src="{{this}}" class="imgCarr imgscarrou" alt="imagen">
                        {{/each}}
                        
                    </div>
                    <span class="expand-svg sidisplay" id="flecha1" onclick="previousImage()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" viewBox="0 0 210 214" fill="none">
                            <g clip-path="url(#clip0_485_2)">
                            <path d="M210 107C210 78.6218 198.938 51.406 179.246 31.3396C159.555 11.2732 132.848 0 105 0C77.1523 0 50.4451 11.2732 30.7538 31.3396C11.0625 51.406 0 78.6218 0 107C0 135.378 11.0625 162.594 30.7538 182.66C50.4451 202.727 77.1523 214 105 214C132.848 214 159.555 202.727 179.246 182.66C198.938 162.594 210 135.378 210 107ZM94.7461 53.082C98.6016 49.1531 104.836 49.1531 108.65 53.082C112.465 57.0109 112.506 63.3641 108.65 67.2512L79.5293 96.9269L154.219 96.9688C159.674 96.9688 164.062 101.441 164.062 107C164.062 112.559 159.674 117.031 154.219 117.031H79.5293L108.65 146.707C112.506 150.636 112.506 156.989 108.65 160.876C104.795 164.763 98.5605 164.805 94.7461 160.876L48.8086 114.105C44.9531 110.177 44.9531 103.823 48.8086 99.9363L94.7461 53.082Z" fill="#99AAB5"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_485_2">
                            <rect width="210" height="214" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </span>
                    <span class="expand-svg sidisplay" id="flecha2" onclick="nextImage()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" viewBox="0 0 210 214" fill="none" style="transform: rotate(180deg)">
                            <g clip-path="url(#clip0_485_2)">
                            <path d="M210 107C210 78.6218 198.938 51.406 179.246 31.3396C159.555 11.2732 132.848 0 105 0C77.1523 0 50.4451 11.2732 30.7538 31.3396C11.0625 51.406 0 78.6218 0 107C0 135.378 11.0625 162.594 30.7538 182.66C50.4451 202.727 77.1523 214 105 214C132.848 214 159.555 202.727 179.246 182.66C198.938 162.594 210 135.378 210 107ZM94.7461 53.082C98.6016 49.1531 104.836 49.1531 108.65 53.082C112.465 57.0109 112.506 63.3641 108.65 67.2512L79.5293 96.9269L154.219 96.9688C159.674 96.9688 164.062 101.441 164.062 107C164.062 112.559 159.674 117.031 154.219 117.031H79.5293L108.65 146.707C112.506 150.636 112.506 156.989 108.65 160.876C104.795 164.763 98.5605 164.805 94.7461 160.876L48.8086 114.105C44.9531 110.177 44.9531 103.823 48.8086 99.9363L94.7461 53.082Z" fill="#99AAB5"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_485_2">
                            <rect width="210" height="214" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </span>
                </div>
            </div>
            
            <!-- <div class="oh-flex oh-center oh-d-10">
                <img src="{{Inventario.url}}" alt="imagen" style="object-fit: cover; min-width: 500px; max-width: 500px; min-height: 500px; max-height: 500px;">
            </div> -->
            <div class="oh-flex oh-center oh-d-10" id="infoCasa">
                <h1 class="oh-flex oh-left" style="color: #606f51; font-size: 60px;">{{Inventario.Titulo}}</h1>
                <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                    <div class="oh-d-20">
                        <img class="svginv" src="../img/tipodecredito.svg" alt="">
                        <label class="fichaLabel" style="color: #454841;"><strong>Tipo de credito: </strong></label>
                    </div>
                    <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Tipo_Credito}}</label>
                </div>
                <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                    <div class="oh-d-20">
                        <img class="svginv" src="../img/tipodecredito.svg" alt="">
                        <label class="fichaLabel" style="color: #454841;"><strong>Tipo de tramite: </strong></label>
                    </div>
                    <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Tipo}}</label>
                </div>
                <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                    <div class="oh-d-20">
                        <img class="svginv" src="../img/direccion.svg" alt="">
                        <label class="fichaLabel" style="color: #454841;"><strong>Dirección de la casa:</strong> </label>
                    </div>
                    <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Direccion}}</label>
                </div>
                <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                    <div class="oh-d-20">
                        <img class="svginv" src="../img/descripcion.svg" alt="">
                        <label class="fichaLabel" style="color: #454841;"><strong>Descripcion de la casa: </strong></label>
                    </div>
                    <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Descripcion}}</label>
                </div>
                <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                    <div class="oh-d-20">
                        <img class="svginv" src="../img/recamaras.svg" alt="">
                        <label class="fichaLabel" style="color: #454841;"><strong>Numero de recamaras: </strong></label>
                    </div>
                    <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.numDeRecamaras}}</label>
                </div>
                <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                    <div class="oh-d-20">
                        <img class="svginv" src="../img/precio.svg" alt="">
                        <label class="fichaLabel" style="color: #454841;"><strong>Precio: </strong></label>
                    </div>
                    <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Presio}}</label>
                </div>
                <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                    <div class="oh-d-20">
                        <img class="svginv" src="../img/metros.svg" alt="">
                        <label class="fichaLabel" style="color: #454841;"><strong>Metros Del Terreno: </strong></label>
                    </div>
                    <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.MtrTerreno}}</label>
                </div>
                <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                    <div class="oh-d-20">
                        <img class="svginv" src="../img/metrosdeconstruccion.svg" alt="">
                        <label class="fichaLabel" style="color: #454841;"><strong>Metros De Construcción: </strong></label>
                    </div>
                    <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.MtsDeCostruccion}}</label>
                </div>
                <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                    <div class="oh-d-20">
                        <img class="svginv" src="../img/tipodecredito.svg" alt="">
                        <label class="fichaLabel" style="color: #454841;"><strong>Avaluo: </strong></label>
                    </div>
                    <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Avaluo}}</label>
                </div>
            </div>
        </div>
        <!-- <a href="https://wa.me/+52{{Inventario.Contacto}}">Contactanos</a> -->
    </div>
{{/if}}


<script>
    //const grande   = document.querySelector('.grande')
    const punto     = document.querySelectorAll('.punto')

    // Cuando CLICK en punto
        // Saber la posición de ese punto
        // Aplicar un transform translateX al grande
        // QUITAR la clase activo de TODOS puntos
        // AÑADIR la clase activo al punto que hemos hecho CLICK

    // Recorrer TODOS los punto
    punto.forEach( ( cadaPunto , i )=> {
        // Asignamos un CLICK a cadaPunto
        punto[i].addEventListener('click',()=>{

            // Guardar la posición de ese PUNTO
            let posicion  = i
            // Calculando el espacio que debe DESPLAZARSE el GRANDE
            

            // Recorremos TODOS los punto
            punto.forEach( ( cadaPunto , i )=>{
                // Quitamos la clase ACTIVO a TODOS los punto
                punto[i].classList.remove('activoCarr')
            })
            // Añadir la clase activo en el punto que hemos hecho CLICK
            punto[i].classList.add('activoCarr')

        })
    })

    function expandCarrousel(){
        const Carr = document.getElementById('Carrousel');
        const CarrFo = document.getElementById('CarrFotos');
        const imgCa = document.getElementsByClassName('imgCarr');
        const infoCasa = document.getElementById('infoCasa');
        const expandSVG = document.getElementById('expandSVG');
        const reduceSVG = document.getElementById('reduceSVG');
        const imgexpin = document.getElementById('imgexpin');
        const imgexpout = document.getElementById('imgexpout');

        Carr.classList.add('expand100');
        Carr.classList.remove('oh-d-10');
        CarrFo.classList.add('carrousel100');
        CarrFo.classList.remove('carru500px');
        for(var i = 0; i < imgCa.length; i++){
            imgCa[i].className += " imgsexpand";
        }
        infoCasa.classList.add('nodisplay');
        infoCasa.classList.remove('sidisplay');
        expandSVG.classList.add('nodisplay');
        expandSVG.classList.remove('sidisplay');
        imgexpin.classList.add('nodisplay');
        imgexpin.classList.remove('sidisplay');
        reduceSVG.classList.add('sidisplay');
        reduceSVG.classList.remove('nodisplay');
        imgexpout.classList.add('sidisplay');
        imgexpout.classList.remove('nodisplay');
        
    }

    function reduceCarrousel(){
        const Carr = document.getElementById('Carrousel');
        const CarrFo = document.getElementById('CarrFotos');
        const imgCa = document.getElementsByClassName('imgCarr');
        const infoCasa = document.getElementById('infoCasa');
        const expandSVG = document.getElementById('expandSVG');
        const reduceSVG = document.getElementById('reduceSVG');
        const imgexpin = document.getElementById('imgexpin');
        const imgexpout = document.getElementById('imgexpout');

        Carr.classList.add('oh-d-10');
        Carr.classList.remove('expand100');
        CarrFo.classList.add('carru500px');
        CarrFo.classList.remove('carrousel100');
        for(var i = 0; i < imgCa.length; i++){
            imgCa[i].classList.remove("imgsexpand");
        }
        infoCasa.classList.add('sidisplay');
        infoCasa.classList.remove('nodisplay');
        expandSVG.classList.add('sidisplay');
        expandSVG.classList.remove('nodisplay');
        imgexpin.classList.add('sidisplay');
        imgexpin.classList.remove('nodisplay');
        reduceSVG.classList.add('nodisplay');
        reduceSVG.classList.remove('sidisplay');
        imgexpout.classList.add('nodisplay');
        imgexpout.classList.remove('sidisplay');
        
    }
</script>
<script>
    const grande = document.querySelector('.grande');
    const images = document.querySelectorAll('.imgCarr');
    let currentImageIndex = 0;
    
    function previousImage() {
        console.log(images);
        images[currentImageIndex].classList.remove('imgsexpand');
        currentImageIndex = (currentImageIndex - 1 + images.length) % images.length;
        images[currentImageIndex].classList.add('imgsexpand');
        console.log(images[0].classList)
        if(images[0].classList.length > 2){
            let operacion = 0 * -50
            grande.style.transform = `translateX(${ operacion }%)`
        }else if(images[1].classList.length > 2){
            let operacion = 1 * -50
            grande.style.transform = `translateX(${ operacion }%)`
        }else if(images[2].classList.length > 2){
            let operacion = 2 * -50
            grande.style.transform = `translateX(${ operacion }%)`
        }else if(images[3].classList.length > 2){
            let operacion = 3 * -50
            grande.style.transform = `translateX(${ operacion }%)`
        }
        // MOVEMOS el grand
        //grande.style.transform = `translateX(${ operacion }%)`
    }

    function nextImage() {
        console.log(images);
        images[currentImageIndex].classList.remove('imgsexpand');
        currentImageIndex = (currentImageIndex + 1) % images.length;
        images[currentImageIndex].classList.add('imgsexpand');
        console.log();
        if(images[0].classList.length > 2){
            let operacion = 0 * -50
            grande.style.transform = `translateX(${ operacion }%)`
        }else if(images[1].classList.length > 2){
            let operacion = 1 * -50
            grande.style.transform = `translateX(${ operacion }%)`
        }else if(images[2].classList.length > 2){
            let operacion = 2 * -50
            grande.style.transform = `translateX(${ operacion }%)`
        }else if(images[3].classList.length > 2){
            let operacion = 3 * -50
            grande.style.transform = `translateX(${ operacion }%)`
        }
    }
</script>