<div class="oh-flex oh-center">
    <span style="margin-top: 1rem; font-size: 60px; color: #616e52;">Catalogo</h1>
</div>
<div class="oh-flex oh-right">
    {{#if user}}
        {{#if (equals role "administrator")}}
            <a href="/Inventario/add">
                <button class="btn-">Agregar Inventario</button>
            </a>
        {{/if}}
        {{#if (equals role "supervisor")}}
            <a href="/Inventario/add">
                <button class="btn-">Agregar Inventario</button>
            </a>
        {{/if}}
    {{/if}}
    
</div>
<div class="oh-flex oh-d-20" style="display: flex; justify-content: flex-start;">

{{#if user}}
    {{#each Inventario}}
        <div class="contect-1 oh-flex oh-center oh-d-6 margin-w-15" style="padding: 7px; background-color: white;">
            <a href="/Inventario/{{_id}}">
                <img src="{{imagen}}" alt="imagen" class="oh-100 inv-maxh" style="object-fit: cover;"> 
            </a>
            <div class="oh-flex oh-center" style="background-color: white; padding-left: 0.5rem; padding-right: 0.5rem;">
                <div class="oh-flex oh-center" style="margin-top: 0.5rem; height: 48px;">
                    <span class="oh-flex oh-left oh-d-12" style="font-weight: bold; text-transform: uppercase;">{{Titulo}}</span>
                    <div class="oh-flex oh-right oh-d-8">
                        <img style="margin-right: 0.5rem;" src="../img/inventario/precio.svg" alt="">
                        <span style="font-weight: bold; color: #5f784b;">{{Presio}}</span>
                    </div>
                </div>
                <div class="oh-flex oh-left" style="margin-bottom: 0.5rem;">
                    <img style="margin-right: 0.5rem;" src="../img/inventario/ubicacion.svg" alt="">
                    <span>{{Direccion}}</span>
                </div>
                <div class="oh-flex oh-left" style="margin-bottom: 0.5rem;">
                    <div>
                        <img style="margin-right: 0.5rem;" src="../img/inventario/recamaras.svg" alt="">
                        <span>{{numDeRecamaras}}</span>
                    </div>
                    <div style="margin-left: 1rem;">
                        <img style="margin-right: 0.5rem;" src="../img/inventario/metrosdeconstruccion.svg" alt="">
                        <span>{{MtsDeCostruccion}}</span>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    {{#each Inventario}}
    <div class="contect-1 oh-flex oh-center oh-d-6 margin-w-15" style="padding: 7px; background-color: white;">
        <a href="/Inventario/{{_id}}">
            <img src="{{imagen}}" alt="imagen" class="oh-100 inv-maxh" style="object-fit: cover;"> 
        </a>
        <div class="oh-flex oh-center" style="background-color: white; padding-left: 0.5rem; padding-right: 0.5rem;">
            <div class="oh-flex oh-center" style="margin-top: 0.5rem; height: 48px;">
                <span class="oh-flex oh-left oh-d-12" style="font-weight: bold; text-transform: uppercase;">{{Titulo}}</span>
                <div class="oh-flex oh-right oh-d-8">
                    <img style="margin-right: 0.5rem;" src="../img/inventario/precio.svg" alt="">
                    <span style="font-weight: bold; color: #5f784b;">{{Presio}}</span>
                </div>
            </div>
            <div class="oh-flex oh-left" style="margin-bottom: 0.5rem;">
                <img style="margin-right: 0.5rem;" src="../img/inventario/ubicacion.svg" alt="">
                <span>{{Direccion}}</span>
            </div>
            <div class="oh-flex oh-left" style="margin-bottom: 0.5rem;">
                <div>
                    <img style="margin-right: 0.5rem;" src="../img/inventario/recamaras.svg" alt="">
                    <span>{{numDeRecamaras}}</span>
                </div>
                <div style="margin-left: 1rem;">
                    <img style="margin-right: 0.5rem;" src="../img/inventario/metrosdeconstruccion.svg" alt="">
                    <span>{{MtsDeCostruccion}}</span>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
{{/if}}
</div>