<div class="btn-contect">
    {{#if user}}
        {{#if (equals role "administrator")}}
            <a href="/Inventario/add">
                <button class="btn-">Agregar Inventario</button>
            </a>
        {{/if}}
        {{#if (equals role "supervisor")}}
            <a href="/Inventario/add">
                <button class="btn-">Agregar Inventario</button>
            </a>
        {{/if}}
    {{/if}}
    
</div>
<div class="oh-flex oh-center oh-d-20" style="display: flex;">

{{#if user}}
    {{#each Inventario}}
        <div class="contect-1 h500 oh-flex oh-center oh-d-6" style="position: relative; border-radius: 10px; background: rgba(255, 255, 255, .2); padding: 7px;">
            <img src="{{url}}" alt="imagen" class="oh-100 inv-maxh" style="filter: brightness(0.8);">
                <a href="/Inventario/{{_id}}" class="fichas" style="position: absolute;">
                    <div><label style="cursor: pointer;  color: white ;
                        font-weight: bold;
                        text-decoration: underline;">{{Titulo}}</label></div>
                </a>
        </div>
    {{/each}}
{{else}}
    {{#each Inventario}}
    <div class="contect-1 h500 oh-flex oh-center oh-d-6" style="border-radius: 10px; background: rgba(255, 255, 255, .2); padding: 7px;">
        <img src="{{url}}" alt="imagen" class="oh-100 inv-maxh">
        <a href="/Inventario/visit/{{_id}}" class="fichas">
            <div><label style="cursor: pointer;">{{Titulo}}</label></div>
        </a>
    </div>
    {{/each}}
{{/if}}
</div>