<div style="border-radius: 10px; background: url(../img/fondo-inventario.png); padding: 7px;">
    <img src="{{Inventario.url}}" alt="imagen" class="oh-35" style="max-height: 400px; max-width: 350px;">
    <!-- 
    <label>{{Inventario.Cliente}}</label>
    <label>{{Inventario.Dueno}}</label>
    <label>{{Inventario.Direccion}}</label>
    <label>{{Inventario.Descripcion}}</label>
    <label>{{Inventario.numDeRecamaras}}</label>
    <label>{{Inventario.Presio}}</label>
    <label>{{Inventario.MtrTerreno}}</label>
    <label>{{Inventario.MtsDeCostruccion}}</label> -->
</div>