<style>
    label{
        margin-bottom: 0rem;
    }
</style>
{{#if user}}
<a href="/Inventario/edit/{{Inventario._id}}" class="fichas edit"><button class="btn-">Editar Ficha</button></a>
<div class="oh-flex oh-center wrapper" >
    <div class="oh-flex oh-center oh-d-20" style="align-items: flex-start; margin-top: 2rem;">
        <div class="oh-flex oh-center oh-d-10">
            <img src="{{Inventario.url}}" alt="imagen" style="object-fit: cover; min-width: 500px; max-width: 500px; min-height: 500px; max-height: 500px;">
        </div>
        <div class="oh-flex oh-center oh-d-10">
            <h1 class="oh-flex oh-left" style="color: #606f51;">{{Inventario.Titulo}}</h1>
            <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                <div class="oh-d-20">
                    <img class="svginv" src="../img/tipodecredito.svg" alt="">
                    <label class="fichaLabel" style="color: #454841;"><strong>Tipo de credito: </strong></label>
                </div>
                <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Tipo_Credito}}</label>
            </div>
            <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                <div class="oh-d-20">
                    <img class="svginv" src="../img/tipodecredito.svg" alt="">
                    <label class="fichaLabel" style="color: #454841;"><strong>Tipo de tramite: </strong></label>
                </div>
                <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Tipo}}</label>
            </div>
            <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                <div class="oh-d-20">
                    <img class="svginv" src="../img/direccion.svg" alt="">
                    <label class="fichaLabel" style="color: #454841;"><strong>Dirección de la casa:</strong> </label>
                </div>
                <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Direccion}}</label>
            </div>
            <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                <div class="oh-d-20">
                    <img class="svginv" src="../img/descripcion.svg" alt="">
                    <label class="fichaLabel" style="color: #454841;"><strong>Descripcion de la casa: </strong></label>
                </div>
                <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Descripcion}}</label>
            </div>
            <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                <div class="oh-d-20">
                    <img class="svginv" src="../img/recamaras.svg" alt="">
                    <label class="fichaLabel" style="color: #454841;"><strong>Numero de recamaras: </strong></label>
                </div>
                <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.numDeRecamaras}}</label>
            </div>
            <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                <div class="oh-d-20">
                    <img class="svginv" src="../img/precio.svg" alt="">
                    <label class="fichaLabel" style="color: #454841;"><strong>Precio: </strong></label>
                </div>
                <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Presio}}</label>
            </div>
            <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                <div class="oh-d-20">
                    <img class="svginv" src="../img/metros.svg" alt="">
                    <label class="fichaLabel" style="color: #454841;"><strong>Metros Del Terreno: </strong></label>
                </div>
                <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.MtrTerreno}}</label>
            </div>
            <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                <div class="oh-d-20">
                    <img class="svginv" src="../img/metrosdeconstruccion.svg" alt="">
                    <label class="fichaLabel" style="color: #454841;"><strong>Metros De Construcción: </strong></label>
                </div>
                <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.MtsDeCostruccion}}</label>
            </div>
            <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                <div class="oh-d-20">
                    <img class="svginv" src="../img/tipodecredito.svg" alt="">
                    <label class="fichaLabel" style="color: #454841;"><strong>Avaluo: </strong></label>
                </div>
                <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Avaluo}}</label>
            </div>
            <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                <div class="oh-d-20">
                    <img class="svginv" src="../img/tipodecredito.svg" alt="">
                    <label class="fichaLabel" style="color: #454841;"><strong>Comisión: </strong></label>
                </div>
                <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Comision}}</label>
            </div>
        </div>
    </div>
    <!-- <a href="https://wa.me/+52{{Inventario.Contacto}}">Contactanos</a> -->
</div>
{{else}}
<div>
    <div class="oh-flex oh-center wrapper" >
        <div class="oh-flex oh-center oh-d-20" style="align-items: flex-start; margin-top: 4rem;">
            <div class="oh-flex oh-center oh-d-10">
                <img src="{{Inventario.url}}" alt="imagen" style="object-fit: cover; min-width: 500px; max-width: 500px; min-height: 500px; max-height: 500px;">
            </div>
            <div class="oh-flex oh-center oh-d-10">
                <h1 class="oh-flex oh-left" style="color: #606f51;">{{Inventario.Titulo}}</h1>
                <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                    <div class="oh-d-20">
                        <img class="svginv" src="../../img/tipodecredito.svg" alt="">
                        <label class="fichaLabel" style="color: #454841;"><strong>Tipo de credito: </strong></label>
                    </div>
                    <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Tipo_Credito}}</label>
                </div>
                <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                    <div class="oh-d-20">
                        <img class="svginv" src="../../img/direccion.svg" alt="">
                        <label class="fichaLabel" style="color: #454841;">Dirección de la casa: </label>
                    </div>
                    <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Direccion}}</label>
                </div>
                <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                    <div class="oh-d-20">
                        <img class="svginv" src="../../img/descripcion.svg" alt="">
                        <label class="fichaLabel" style="color: #454841;"><strong>Descripcion de la casa: </strong></label>
                    </div>
                    <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Descripcion}}</label>
                </div>
                <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                    <div class="oh-d-20">
                        <img class="svginv" src="../../img/recamaras.svg" alt="">
                        <label class="fichaLabel" style="color: #454841;"><strong>Numero de recamaras: </strong></label>
                    </div>
                    <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.numDeRecamaras}}</label>
                </div>
                <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                    <div class="oh-d-20">
                        <img class="svginv" src="../../img/precio.svg" alt="">
                        <label class="fichaLabel" style="color: #454841;"><strong>Precio: </strong></label>
                    </div>
                    <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.Presio}}</label>
                </div>
                <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                    <div class="oh-d-20">
                        <img class="svginv" src="../../img/metros.svg" alt="">
                        <label class="fichaLabel" style="color: #454841;"><strong>Metros Del Terreno: </strong></label>
                    </div>
                    <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.MtrTerreno}}</label>
                </div>
                <div class="oh-flex oh-center oh-d-20 t:left margin-v-05">
                    <div class="oh-d-20">
                        <img class="svginv" src="../../img/metrosdeconstruccion.svg" alt="">
                        <label class="fichaLabel" style="color: #454841;"><strong>Metros De Construcción: </strong></label>
                    </div>
                    <label class="fichaLabel" style="margin-left: 2.1rem;">{{Inventario.MtsDeCostruccion}}</label>
                </div>
            </div>
        </div>
        <!-- <a href="https://wa.me/+52{{Inventario.contacto}}">Contactanos</a> -->
    </div>
{{/if}}