{{#if user}}
<div>
   
    
    <div style="display: flex; margin-top: 4rem;">
        <img src="{{Inventario.url}}" alt="imagen" style="height: 600px; width: 600px !important; margin-right: 2rem;">
        <div>
            <h1>{{Inventario.Titulo}}</h1>
            <div class="flex-oh">
                <img src="../../img/tipodecredito.svg" alt="tipo de credito" style="margin-top: -45px;">
                <div style="margin-left: 10px;">
                    <label class="fichaLabel"><strong>Tipo de credito:</strong></label>
                    <p class="fichaP"> {{Inventario.Tipo_Credito}}</p>
                </div>
            </div>
            <div class="flex-oh">
                <img src="../../img/direccion.svg" alt="direccion ico" style="margin-top: -45px;">
                <div style="margin-left: 10px;">
                    <label class="fichaLabel"><strong>Direcci贸n de la casa: </strong></label>
                    <p class="fichaP">{{Inventario.Direccion}}</p>
                </div>
            </div>
            <div class="flex-oh">
                <img src="../../img/descripcion.svg" alt="descripcion ico" style="margin-top: -45px;">
                <div style="margin-left: 10px;">
                    <label class="fichaLabel"><strong>Descripcion de la casa: </strong></label>
                    <p class="fichaP">{{Inventario.Descripcion}}</p>
                </div>
            </div>
            <div class="flex-oh">
                <img src="../../img/recamaras.svg" alt="recamaras ico" style="margin-top: -45px;">
                <div style="margin-left: 10px;">
                    <label class="fichaLabel"><strong>Numero de recamaras: </strong></label>
                    <p class="fichaP">{{Inventario.numDeRecamaras}}</p>
                </div>
            </div>
            <div class="flex-oh">
                <img src="../../img/precio.svg" alt="precio ico" style="margin-top: -45px;">
                <div style="margin-left: 10px;">
                    <label class="fichaLabel"><strong>Precio: </strong></label>
                    <p class="fichaP">{{Inventario.Presio}}</p>
                </div>
            </div>
            <div class="flex-oh">
                <img src="../../img/metros.svg" alt="metros ico" style="margin-top: -45px;">
                <div style="margin-left: 10px;">
                    <label class="fichaLabel"><strong>Metros Del Terreno: </strong></label>
                    <p class="fichaP">{{Inventario.MtrTerreno}}</p>
                </div>
            </div>
            <div class="flex-oh">
                <img src="../../img/metrosdeconstruccion.svg" alt="metros costrucion ico" style="margin-top: -45px;">
                <div style="margin-left: 10px;">
                    <label class="fichaLabel"><strong>Metros De Construcci贸n: </strong></label>
                    <p class="fichaP">{{Inventario.MtsDeCostruccion}}</p>
                </div>
            </div>

            <div>
                <label class="fichaLabel"><strong>Comicion: </strong></label>
                <p class="fichaP">{{Inventario.Comision}}</p>
            </div>
        </div>
    </div>
    <a href="https://wa.me/+52{{Inventario.contacto}}">Contactanos</a>
</div>
{{else}}
<div>
    <h1 style="margin-left: 38%;">{{Inventario.Titulo}}</h1>
    
    <div style="display: flex; margin: 4rem;">
        <img src="{{Inventario.url}}" alt="imagen" style="height: 500px; width: 600px !important; margin-right: 2rem;">
        <div>
            <div>
                <label class="fichaLabel"><strong>Tipo de credito: </strong></label>
                <label class="fichaLabel"><strong>{{Inventario.Tipo_Credito}}</strong></label>
            </div>
            <div>
                <label class="fichaLabel"><strong>Direcci贸n de la casa: </strong></label>
                <label class="fichaLabel"><strong>{{Inventario.Direccion}}</strong></label>
            </div>
            <div>
                <label class="fichaLabel"><strong>Descripcion de la casa: </strong></label>
                <label class="fichaLabel"><strong>{{Inventario.Descripcion}}</strong></label>
            </div>
            <div>
                <label class="fichaLabel"><strong>Numero de recamaras: </strong></label>
                <label class="fichaLabel"><strong>{{Inventario.numDeRecamaras}}</strong></label>
            </div>
            <div>
                <label class="fichaLabel"><strong>Precio: </strong></label>
                <label class="fichaLabel"><strong>{{Inventario.Presio}}</strong></label>
            </div>
            <div>
                <label class="fichaLabel"><strong>Metros Del Terreno: </strong></label>
                <label class="fichaLabel"><strong>{{Inventario.MtrTerreno}}</strong></label>
            </div>
            <div>
                <label class="fichaLabel"><strong>Metros De Construcci贸n: </strong></label>
                <label class="fichaLabel"><strong>{{Inventario.MtsDeCostruccion}}</strong></label>
            </div>
        </div>
    </div>
</div>
{{/if}}