<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="HU_zY506WqhgZGaWwkcy028RQGF_YlhZdVX-priqWJY"/>
    
    <meta name="description" content="Lead Inmobiliaria ofrece las mejores propiedades en venta y renta en Ciudad Juárez, Chihuahua. Encuentra casas, departamentos y locales comerciales al mejor precio.">
    <meta name="keywords" content="Inmobiliaria en Ciudad Juárez, venta de casas en Chihuahua, propiedades en renta, bienes raíces Ciudad Juárez, comprar casa, rentar casa, locales comerciales">
    <meta name="author" content="Lead Inmobiliaria">
    <meta name="robots" content="index, follow">

    <!-- Open Graph para Redes Sociales -->
    <meta property="og:title" content="Lead Inmobiliaria | Propiedades en Venta y Renta en Ciudad Juárez">
    <meta property="og:description" content="Encuentra las mejores opciones en bienes raíces en Ciudad Juárez, Chihuahua. Venta y renta de propiedades residenciales y comerciales.">
    <meta property="og:image" content="https://www.leadinmobiliaria.com/images/portada.jpg">
    <meta property="og:url" content="https://www.leadinmobiliaria.com">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="LEAD Inmobiliaria">
    <meta property="og:locale" content="es_ES">

    <!-- Facebook Página -->
    <meta property="og:url" content="https://www.facebook.com/people/LEAD-Inmobiliaria/100076105934147/">
    <meta property="og:type" content="business.business">
    <meta property="og:title" content="Lead Inmobiliaria en Facebook">
    <meta property="og:description" content="Síguenos en Facebook para conocer nuestras últimas propiedades en venta y renta en Ciudad Juárez, Chihuahua.">
    <meta property="og:image" content="https://www.leadinmobiliaria.com/images/portada.jpg">
    
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="../../css/grid.css">
    
    {{#if key_pdf}}    
        <link rel="stylesheet" href="../../css/general.css">
        <link rel="stylesheet" href="../../css/signup.css">    
        <link rel="stylesheet" href="../../css/nomina.css">
    {{/if}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>{{title}}</title>
    <link rel="icon" href="../img/lead-logo.svg" type="imagen/svg+xml">
    <style>
        .fichaLabel{
            font-size: 1.3rem;
        }
    </style>
</head>
<body>
    {{#if user}}
        {{#if (equals role "admin")}}
            {{>naver_admin}}
        {{/if}}
        {{#if (equals role "administrator")}}
            {{>naver_admin}}
        {{/if}}
        {{#if (equals role "supervisor")}}
            {{>naver_supervisor}}
        {{/if}}
        {{#if (equals role "user")}}
            {{>naver_user}}
        {{/if}}
    {{else}}
        {{>naver_clientes}}
    {{/if}}

    
    <main style="margin: 0 5rem;">
        {{>errors}}
        {{>messages}}
        {{{ body }}}
    </main>
    {{#if nomina}}
    {{else}}
        {{>footer}}
    {{/if}}
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            // Get the button and the menu element
            const navbarToggler = document.querySelector('.navbar-toggler');
            const navbarMenu = document.querySelector('#navbarNavAltMarkup');
        
            // Add click event listener to the button
            navbarToggler.addEventListener('click', function() {
                // Toggle the "collapse" class on the menu
                navbarMenu.classList.toggle('collapse');
            });
        });
                
    </script>
</body>
</html>