<div class="contect">
    <form action="/users/signin" method="post">
        <img src="../img/Logi.jpg" alt="logo">
        <div class="section oh-20">
            <div>
                <div class="ctrl">
                    <label for="email-sig" class="label-ctrl">Correo</label>
                    <input id="email-sig" name="email" type="text" class="campo-obligatorio" campo>
                </div>
                <div class="ctrl" >
                    <label for="password" class="label-ctrl" >Contraseña</label>
                    <input id="password" name="password" type="password" class="campo-obligatorio" campo>
                </div>
                <div class="sing">
                    <button id="registrarLimpieza" class="btn-">Enviar</button>
                </div>
                <div class="registrar">
                    <a href="/users/registrar" >Registrar</a>
                </div>
            </div>
        </div>
    </form>
</div>